__pycache__
venv*
.vscode
dqxclarity.zip
*.log
app/user_settings.ini
app/user_settings.ini.invalid
console.log
.env
defaults.pref
app/misc_files/clarity_dialog.db
tests
app/misc_files/*.json
app/misc_files/glossary.csv
**/merge.xlsx
app/logs
misc_files/clarity_dialog.db
misc_files/merge.xlsx
