repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
    name: Check for newline at end of file
  - id: no-commit-to-branch
    name: Ensure we don't push to main
    args: [--branch, main]
  - id: requirements-txt-fixer
    name: Sort requirements.txt
  - id: fix-byte-order-marker
    name: Remove UTF-8 byte order marker (BOM)
  - id: mixed-line-ending
    name: Fix line endings
    args: ['--fix', 'lf']
  - id: debug-statements
    name: Check for debug/breakpoint statements
  - id: check-yaml
    name: Validate YAML
  - id: trailing-whitespace
    name: Check for trailing whitespace
  - id: check-merge-conflict
    name: Check for merge conflicts
  - id: check-docstring-first
    name: Ensuring code doesn't come before docstrings
  - id: check-ast
    name: Check if code parses as valid Python
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    name: Checking for potential passwords
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    name: Upgrade previous versioned Python syntax to newer version
    args: ['--py311-plus']
    exclude: ^app/pymem  # forked module
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.11
  hooks:
    # - id: ruff-check
    #   args: ['--fix']
    - id: ruff-format
