[MASTER]
ignore=pymem,signatures.py

[FORMAT]
good-names=en,ja,e,bar,i,c
max-line-length=120

[MESSAGES CONTROL]
# import-error: This isn't a true "package", so imports can be reported falsely
# duplicate-code: Some of the hooks use similar code, but pylint doesn't like this
# too-many-arguments: Don't care about this - some functions need lots of args
# missing-module-docstring: Don't want to add a docstring at the top of the file explaing what it does
# too-many-locals: Don't care to fix this
# too-many-nested-blocks: Don't care to fix this
# line-too-long: We're formatting with black @ 120 lines.
disable=import-error, duplicate-code, too-many-arguments, missing-module-docstring, broad-except, too-many-locals, too-many-nested-blocks, line-too-long
