configparser==7.2.0
deepl==1.24.0
frida==16.4.5
google-api-core==2.28.1
google-api-python-client==2.187.0
langdetect==1.0.9
loguru==0.7.3
openpyxl==3.1.5
pykakasi==2.2.1
regex==2025.11.3
requests==2.32.5
unidecode==1.4.0
