click==8.1.7
configparser==7.0.0
deepl==1.18.0
frida==16.2.2
google-api-python-client==2.129.0
langdetect==1.0.9
loguru==0.7.2
openpyxl==3.1.4
pykakasi==2.2.1
regex==2024.5.15
requests==2.31.0
unidecode==1.3.8
