---
name: Compile launcher

on:
  workflow_call:

jobs:
  compile_launcher:
    runs-on: windows-latest
    steps:
      - name: Fetch branch name from comment
        if: github.event.issue.pull_request && contains(github.event.comment.body, '/build')
        id: fetch-branch-name
        uses: xt0rted/pull-request-comment-branch@v3

      - name: Checkout branch
        uses: actions/checkout@v6
        with:
          ref: ${{ steps.fetch-branch-name.outputs.head_ref || 'main' }}

      - name: Compile launcher into exe
        run: |
          cd app\launcher;
          Invoke-WebRequest "https://github.com/AutoHotkey/Ahk2Exe/releases/download/Ahk2Exe1.1.37.01c1/Ahk2Exe1.1.37.01c1.zip" -OutFile "$cwd\ahk2exe.zip";
          Invoke-WebRequest "https://github.com/AutoHotkey/AutoHotkey/releases/download/v2.0.18/AutoHotkey_2.0.18.zip" -OutFile "$cwd\ahk.zip";
          Expand-Archive -Path "$cwd\ahk2exe.zip" -DestinationPath . -Force;
          Expand-Archive -Path "$cwd\ahk.zip" -DestinationPath . -Force;
          & .\Ahk2Exe.exe /in "dqxclarity.ahk" /base "AutoHotkey64.exe" /icon "img/rosie.ico";

      - name: Upload exe artifact
        uses: actions/upload-artifact@v5
        with:
          name: dqxclarity.exe
          path: app\launcher\dqxclarity.exe
          if-no-files-found: error
          retention-days: 1
          overwrite: true

      # when we upload the exe artifact, it can take a few moments for github to realize it's been uploaded.
      # if subsequent jobs try to download this artifact too quickly, the step will fail. this is just an
      # arbitrary amount of time to wait before letting any other steps continue.
      - name: Sleep for 3 seconds
        run: Start-Sleep -Seconds 3
