---
name: Build zip for PR

on:
  issue_comment:
    types: [created]

jobs:
  compile_launcher:
    if: github.event.issue.pull_request && contains(github.event.comment.body, '/build')
    uses: ./.github/workflows/_compile_launcher.yml

  build:
    needs: compile_launcher
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && contains(github.event.comment.body, '/build')
    steps:
      - name: Fetch Branch Name
        id: fetch-branch-name
        uses: xt0rted/pull-request-comment-branch@v3

      - name: Checkout PR branch (${{ steps.fetch-branch-name.outputs.head_ref }})
        uses: actions/checkout@v6
        with:
          ref: ${{ steps.fetch-branch-name.outputs.head_ref }}

      - name: Download exe
        uses: actions/download-artifact@v7
        with:
          name: dqxclarity.exe

      - name: Create SHORT_SHA env
        run: echo "SHORT_SHA=`echo ${{ steps.fetch-branch-name.outputs.head_sha }} | cut -c1-8`" >> $GITHUB_ENV

      - name: Build package
        run: |
          rsync -av --exclude="imgs/" --exclude="launcher/" --exclude="tests/" app/* dqxclarity/;
          cp version.update requirements.txt user_settings.ini dqxclarity.exe dqxclarity/;
          cp clarity_dialog.db dqxclarity/misc_files;

          zip -r dqxclarity-dev-${SHORT_SHA}.zip dqxclarity

      - name: Upload zip as artifact
        uses: actions/upload-artifact@v6
        with:
          name: dqxclarity-dev-${{ env.SHORT_SHA }}
          path: dqxclarity-dev-${{ env.SHORT_SHA }}.zip
          if-no-files-found: error

      - name: Post comment to PR
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            Link to workflow: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
            Click on the zip at the bottom of the workflow to download.
          refresh-message-position: true
          preformatted: false
